<%- include('includes/header') %>
    <div class="page-wrapper">
        <div class="page-breadcrumb bg-white">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Create New Sensor in Tool</h4>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <form action="" method="POST">
                <div class="form-group">
                  <label for="titleSensor">Name Sensor</label>
                  <input type="text" class="form-control" id="titleSensor" name="name" aria-describedby="titleSensor" placeholder="Enter Name Sensor">
                  <small id="title" class="form-text text-muted">Create New Sensor</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get('error')) {
          alert(`error: ${urlParams.get('error')}`);
        }
    </script>
<%- include('includes/footer') %>