<%- include('includes/header') %>
    <div class="page-wrapper">
        <div class="page-breadcrumb bg-white">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Create Form</h4>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="form-group">
                <label for="titleSensor">Select method create</label>
                <select class="form-select" id="select" aria-label="Default select example" required>
                    <option value="1" selected>Create Application Entity</option>
                    <option value="2">Create Sensor</option>
                    <option value="3">Create Container</option>
                    <option value="4">Add Notify</option>
                </select>
            </div>
            <div id="form-action"></div>
        </div>
    </div>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get('error')) {
            alert(`error: ${urlParams.get('error')}`);
        }
    </script>
    <script>
        let select = document.getElementById('select');
        let formInner = document.getElementById('form-action');
        
        let value = '1';

        let arraySensor = [];

        select.addEventListener('change', (e) => {
            console.log(e.target.value);
            value = `${e.target.value}`;
            buildHtml();
        });

        async function addAddListener() {
            let selectTool = document.getElementById('select-tool');
            let selectSensor = document.getElementById('select-sensor');
            let groupURL = document.getElementById('group-url');
            let addElemnt = document.getElementById('add-element');
            let valueApplication = "";
            let dataSensor = [];

            if(groupURL){
                console.log(addElemnt);
                addElemnt.addEventListener("click",(e)=>{
                    // Tạo một phần tử input
                    var inputElement = document.createElement("input");

                    // Thêm các thuộc tính cho phần tử input
                    inputElement.setAttribute("type", "text");
                    inputElement.setAttribute("class", "form-control");
                    inputElement.setAttribute("id", "urlAPI");
                    inputElement.setAttribute("name", "urlAPI");
                    inputElement.setAttribute("placeholder", "Enter URL API");

                    // Lấy đối tượng div để chèn phần tử input vào
                    var formDiv = document.getElementById("myForm");

                    // Thêm phần tử input vào div
                    groupURL.appendChild(inputElement);
                    groupURL.appendChild(document.createElement("br"));
                });
            }

            if (selectTool) {
                let data = await fetchApi('/api/application');
                if (data && data.length > 0) {
                    valueApplication = data[0].id;
                }
                const htmlOptionApplication = () => {
                    let html = '';
                    for (let i = 0; i < data.length; i++) {
                        html += `<option value="${data[i].id}"  ${i == 0 ? "selected" : ""}>${data[i].name}</option>`;
                    }
                    return html;
                }
                selectTool.innerHTML = htmlOptionApplication();

                selectTool.addEventListener('change', async (e) => {
                    const value = e.target.value;
                    valueApplication = value;
                    if(selectSensor){
                        let resSensor = await fetchApi(`/api/${valueApplication}/sensor`);
                        const htmlOptionApplication = () => {
                            let html = '';
                            for (let i = 0; i < resSensor.length; i++) {
                                html += `<option value="${resSensor[i].id}"  ${i == 0 ? "selected" : ""}>${resSensor[i].name}</option>`;
                            }
                            return html;
                        }
                        selectSensor.innerHTML = htmlOptionApplication();
                    }
                });
            }

            if (selectSensor) {
                let resSensor = await fetchApi(`/api/${valueApplication}/sensor`);
                console.log(`resSensor`,resSensor);
                const htmlOptionApplication = () => {
                    let html = '';
                    for (let i = 0; i < resSensor.length; i++) {
                        html += `<option value="${resSensor[i].id}"  ${i == 0 ? "selected" : ""}>${resSensor[i].name}</option>`;
                    }
                    return html;
                }
                selectSensor.innerHTML = htmlOptionApplication();
                selectSensor.addEventListener('change', (e) => {
                    console.log(e);
                });
            }
      
        }

        async function buildHtml() {
            formInner.innerHTML = await getForm();
            await addAddListener();
        }

         function getForm() {
            switch (value) {
                case '1': return  getHtmlFormCreateApplication();
                case '2': return  getHtmlFormCreateSensor();
                case '3': return  getHtmlFormCreateContainer();
                case '4': return  getHtmlFormCreateNotify();
                default: return '';
            }
        }

         function getHtmlFormCreateApplication() {
            return `
                    <form action="" method="POST">
                        <input type="hidden" name="method" value="1">
                        <div class="form-group">
                            <label for="titleSensor">Application</label>
                            <input type="text" class="form-control" id="titleSensor" name="name" aria-describedby="titleSensor" placeholder="Application">
                        </div>
                        <div class="form-group">
                            <label for="titleSensor">Label</label>
                            <input type="text" class="form-control" id="titleSensor" name="label" aria-describedby="titleSensor" placeholder="Input label">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                `;
        }
         function getHtmlFormCreateSensor() {
            return `
                        <form action="" method="POST">
                            <input type="hidden" name="method" value="2">
                            <div class="form-group">
                                <label for="titleSensor">Select tool</label>
                                <select class="form-select" id="select-tool" name="application" aria-label="Select Tool" required>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="titleSensor">Name sensor</label>
                                <input type="text" class="form-control" id="titleSensor" name="name" aria-describedby="titleSensor" placeholder="Name sensor">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    `;
        }

         function getHtmlFormCreateContainer() {
            return `
                        <form action="" method="POST">
                            <input type="hidden" name="method" value="3">
                            <div class="form-group">
                                <label for="titleSensor">Select tool</label>
                                <select class="form-select" name="application" id="select-tool" aria-label="Select Tool" required>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="titleSensor">Select container</label>
                                <select class="form-select" name="sensor" id="select-sensor" aria-label="Select Sensor" required></select>
                            </div>
                            <div class="form-group">
                                <label for="titleSensor">Title</label>
                                <input type="text" class="form-control" id="titleSensor" name="name" aria-describedby="titleSensor" placeholder="Title">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                      `;
        }

         function getHtmlFormCreateNotify() {
            return `
                        <form action="" method="POST">
                            <input type="hidden" name="method" value="4">
                            <div class="form-group">
                                <label for="titleSensor">Select tool</label>
                                <select class="form-select"  name="application" id="select-tool" aria-label="Select Tool" required>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="titleSensor">Select tool</label>
                                <select class="form-select" name="sensor" id="select-sensor" aria-label="Select Sensor" required>
                                    
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="titleSensor">Title</label>
                                <input type="text" class="form-control" id="titleSensor" name="name" aria-describedby="titleSensor" placeholder="Sub Title">
                            </div>
                            <div class="form-group" >
                                <label for="titleSensor">Add url API send Notify</label>
                                <div id="group-url">
                                    <input type="text" class="form-control" id="urlAPI" name="urlAPI" aria-describedby="urlAPI" placeholder="Enter URL API"></br>
                                </div>
                                <a id="add-element" class="btn btn-outline-primary">+ ADD</a>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    `;
        }

        async function fetchApi(url) {
            const res = await fetch(url);
            let data = await res.json();
            return data.data;
            console.log(data.data);
        }

        let html = '';
        buildHtml();

    </script>
    <%- include('includes/footer') %>